<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="volunteerapp.cyh.volunteer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.JoinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.IdSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.PwSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.InfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.AreaListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.DateListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.IntegrateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Notice.NoticeListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Notice.NoticeInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QnA.QnAListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.FavoriteListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QnA.QnAInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QnA.QnAWriteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Party.PartyListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Party.PartyInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Party.PartyWriteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Notice.ImgFullActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.MyInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main.ModifyInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Main.ModifyPWActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>